
<!doctype html>
<html>
<head>
    <meta charset="utf8"/>
    <title>购物车 查看购物车</title>
    <meta name="keywords" content="购物车 查看购物车"/>
    <meta name="description" content="购物车 查看购物车"/>
    <link href="__STATIC__/index/css/orderPublic_v1.css" rel="stylesheet" type="text/css" />
    <link href="__STATIC__/index/css/cart_v1.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="__STATIC__/index/css/Active.css" />
    <script src="__STATIC__/index/js/jquery-1.8.1.js"></script>
</head>
<body>
<!-- topbar -->
<link href="__STATIC__/index/css/sitenav.css" rel="stylesheet"/>
<!-- //topbar -->
<!-- header -->
<div class="zc-topbar">
    <div class="wrapper clearfix">
        <div class="zc-login-info">
            <span class="zc-back-home">
                <a href="/">商城首页</a>
            </span>
            {if condition="$Think.session.name == true"}
            <span class="zc-login">
                欢迎登录：{$Think.session.name}
            </span>
            <span class="zc-login">
                <a href="javascript:;" onclick="out()">退出</a>
            </span>
            {else /}
            <span class="zc-login">请<a href="{:url('index/login/login')}">登录</a>
            </span>
            <span class="zc-register">
                <a href="{:url('index/login/Register')}">免费注册</a>
            </span>
            {/if}
            <script>
                function out() {
                    $.post("{:url('index/login/out')}",function (response) {
                        if(response.code==1){
                            layer.msg(response.msg, {icon: 1},function () {
                                location.reload()
                            });
                        }
                    },'json')
                }
            </script>
        </div>
        <ul class="zc-quick-menu">
            <li class="zc-my-center" onmouseover="showUI(this)" onmouseout="hideUI(this)">
                <a href="{:url('index/my/index')}" class="zc-hd">个人中心</a>
            </li>
        </ul>
    </div>
</div>
<div class="header clearfix">
    <!--logo样式 -->
    <div class="logo">
        <a href="/"><img src="http://icon.zol-img.com.cn/newshop/shop/index/logo_130x60.png" width="130" height="60"></a>
        <!--script src="http://icon.zol-img.com.cn/zol_shop/js/public/logo.com.zol.js"></script-->
    </div>
    <div class="flow-step">

    </div>
</div>
<!-- //header --><div class="wrapper">

    {if condition="session('cart')['goods'] == true"}

    <form action="{:url('index/pay/index')}" method="post">
        <div class="cart-state mt">
        </div>
        <div class="order-table mt20">
            <table width="100%">
                <tr>
                    <th class="th-1"></th>
                    <th class="th-2">所选商品</th>
                    <th class="th-3">单价（元）</th>
                    <th class="th-4">数量</th>
                    <th class="th-6">小计（元）</th>
                    <th class="th-7">操作</th>
                </tr>

                {foreach name="data['goods']" key="key" item="vo"}
                <tr rel="goods-order"  id="cart_lists" istuan='0'>
                    <td colspan="2" class="s-infor">

                        <input name="cartId[]" type="checkbox" value="{$key}" item="item" rel="foritem" merchantId="" checked>
                        <!--新增对购物车已下架商品-->
                        <a href="" class="pic" ><img width="80" height="80" src="/{:db('goods')->where('gid',$vo['id'])->value('list_img')}"></a>
                        <div class="inforbox">
                            <h3 class="tit"><a href="{:url('index/goods/index',['gid'=>$vo['id']])}">{$vo['name']}</a></h3>

                            <p>{$vo['name']}</p>
                            <div class="info-con">
                                <span>颜色：{$vo['options']['spec']}</span>
                            </div>

                        </div>
                    </td>
                    <td class="s-price ">
                        <em>{$vo['price']}</em>

                    </td>
                    <td class="s-amount ">
                        <div class="buy-num">

                            <a class="minus" sid="{$key}" href="javascript:void(0)">-</a>
                            <input type="text" id="text-amount" autocomplete="off" class="text-amount" value="{$vo['num']}">
                            <a class="plus" sid="{$key}" href="javascript:void(0)">+</a>

                        </div>
                    </td>
                    <td class="s-total">
                        <em id="cartGoodsPcie">{$vo['total']}</em>
                    </td>
                    <td class="s-del">
                        <div class="s-delbox">
                            <a href="javascript:void(0)" onclick="$.deleteCart({cartId:'{$key}'})">删除</a>
                            <div class="deletebox" style="display:none;" id="zp-cart-{$key}">
                                <p>确认要删除该商品吗？</p>
                                <a href="javascript:void(0)" sid="{$key}" class="del_goods" onclick="$.deleteCart({cartId:'{$key}', deleteType:'delete'})">是的</a><a href="javascript:void(0)" onclick="$.closeDeleteCart({cartId:'{$key}'})">取消</a> <i></i>
                            </div>
                        </div>
                    </td>
                </tr>
                {/foreach}
                <script>
                    $('.s-amount .buy-num .minus').click(function() {
                        var num = $(this).siblings('input').val();
                        if (num>1){
                            num--;
                            $(this).siblings('input').val(num);
                            $.post("{:url('index/cart/ajaxUpdateCart')}",{sid:$(this).attr('sid'),num:$(this).siblings('input').val()},function (response) {},'json');
                        }else if (num<=1){
                            $(this).siblings('input').val(1);
                        }
                    });
                    $('.s-amount .buy-num .plus').click(function() {
                        var num = $(this).siblings('input').val();
                        if (num>=0){
                            num++;
                            $(this).siblings('input').val(num);
                            $.post("{:url('index/cart/ajaxUpdateCart')}",{sid:$(this).attr('sid'),num:$(this).siblings('input').val()},function (response) {},'json');
                        }else{
                            $(this).siblings('input').val(num);
                        }
                    });
                    $('.s-del .s-delbox .deletebox .del_goods').click(function () {
                        $(this).parents('#cart_lists').remove();
                        $.post("{:url('index/cart/ajaxDelCart')}",{sid:$(this).attr('sid'),num:0},function (response) {},'json');
                        setTimeout(function () {
                            location.reload();
                        },300)
                    })
                </script>


            </table>

            <div class="total-price">商品总价：<em>&yen;</em><em class="total-cart-price">{$data['total_price']}</em></div>

            <div class="order-foot clearfix" style="border: none">
                    <input type="submit" value="去结算" name="submitCart" class="accounting-btn">
            </div>
        </div>


    </form>

    {else /}
    <dl class="shopcar-tip">
        <dt>您的购物车里还没有商品，您可以：</dt>
        <dd>去<a href="/">挑选商品</a></dd>
    </dl>
    {/if}
</div>

<div class="footer">
    <p class="links"><a  href="">关于商城</a>|<a  href="">营销中心</a>|<a  href="">服务中心</a>|<a  href="">联系我们</a>|<a  href="">发展历程</a>|<a  href="">媒体报道</a></p>
    <p><span class="copyright">&copy;<script type="text/javascript">
                                var yearStr;
                                now = new Date();
                                yearStr = now.getFullYear();
                                document.write(yearStr);</script> <a  href="http://www.miibeian.gov.cn/"> </a></span></p>
        <script type="text/javascript">(function() {
            document.getElementById('___szfw_logo___').oncontextmenu = function() {
                return false;
            }
        })();</script></div>
    <script language="JavaScript" src="http://js.zol.com.cn/pv.js" type="text/javascript"></script>
    <script type="text/javascript">
        var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
        document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F7daf617aaf843f0f55a422b00d7de1e7' type='text/javascript'%3E%3C/script%3E"));
    </script>
</div><script type="text/javascript">
    //选中购物车物品样式切换
    $("input[name='cartId[]']").click(function(){
        $.changeBackColor();
    });

    // 套装
    $(".info-con").mouseover(function(){
        $(this).addClass("info-con-hover");
    }).mouseleave(function(){
        $(this).removeClass("info-con-hover");
    });

    $("input[type=checkbox][name != 'checkAllCart']").click(function(){
        var rel        = $(this).attr("rel");
        var merchantId = 0;
        if ($(this).is(":checked")){
            $("input[name=submitCart]").attr("disabled", false);
            if ('forshop' == rel){
                merchantId = $(this).val();
                $("input[rel=foritem]").each(function(){
                    if (merchantId == $(this).attr('merchantId')){
                        $(this).get(0).checked = true;
                    }
                });
            }

            if ('foritem' == rel){
                merchantId = $(this).attr('merchantId');
                var merchantflag = true;
                $("input[rel=foritem]").each(function(){
                    if (merchantId == $(this).attr('merchantId')){
                        if (!$(this).is(":checked")){
                            merchantflag = false;
                        }
                    } else {
                        $(this).get(0).checked = false;
                    }
                });

                if (merchantflag){
                    $("input[rel=forshop]").each(function(){
                        if (merchantId == $(this).val()){
                            $(this).get(0).checked = true;
                        }
                    });
                } else {
                    $("input[rel=forshop]").each(function(){
                        $(this).get(0).checked = false;
                    });
                }
            }
            $.getCartInfo();
        }else{
            if ('forshop' == rel){
                merchantId = $(this).val();
                $("input[rel=foritem]").each(function(){
                    if (merchantId == $(this).attr('merchantId')){
                        $(this).get(0).checked = false;
                    }
                });
            }
            if ('foritem' == rel){
                merchantId = $(this).attr('merchantId');
                $("input[rel=forshop]").each(function(){
                    if (merchantId == $(this).val()){
                        $(this).get(0).checked = false;
                    }
                });
            }
            $.getCartInfo();
        }
        $.changeBackColor();
    });
    $("input[type=radio]").click(function(){
        var merchantId = 0;
        $("input[type=radio]").checked = false;
        $(this).checked = true;
        merchantId = $(this).val();
        $("input[rel=foritem]").each(function(){
            if (merchantId == $(this).attr('merchantId')){
                $(this).get(0).checked = true;
            } else {
                $(this).get(0).checked = false;
            }
        });
        $.getCartInfo();
        $.changeBackColor();
    });

    // 全选
    $("input[name=checkAllCart]").click(function(){
        var cartIdArr = new Array();
        if ($(this).is(":checked")){
            $("input[type=checkbox]").each(function(){
                if (!$(this).is(":checked")){
                    $(this).get(0).checked = true;
                }
                if ('item' == $(this).attr("item")){
                    cartId = parseInt($(this).val());
                    if (cartId){
                        cartIdArr.push(cartId);
                    }
                }
            });
            $.getCartInfo();
        }else{
            $("input[type=checkbox]").each(function(){
                if ($(this).is(":checked")){
                    $(this).get(0).checked = false;
                }
            });
            $(".total-cart-price").html("0");
            $("input[name=submitCart]").attr("disabled", "true");
        }
        $.changeBackColor();
    });
    // 显示更多链接
    $("#show_more_link").toggle(function(){
        $(".cbsi_zh > p").show();
        $(this).html("收起").attr("class", "more_hov");
    }, function(){
        $(".cbsi_zh > p:gt(0)").hide();
        $(this).html("更多").attr("class", "more");
    });

    $(".agio-limit").mouseover(function(){
        $(this).children("div").show();
    }).mouseleave(function(){
        $(this).children("div").hide();
    })
    $(function($){
        //遍历处理商品的背景颜色
        $.extend({
            changeBackColor:function(){
                $("input[name='cartId[]']").each(function(){
                    var isChecked   = $(this).is(":checked");
                    var cartVal     = $(this).val();
                    if(isChecked){
                        $("#cart_"+cartVal).removeClass("other");
                    }else{
                        $("#cart_"+cartVal).addClass("other");
                    }
                });
            }
        });
        $.changeBackColor();

        //获得购物车信息
        $.extend({
            getCartInfo:function(){
                var cartIdArr = new Array();
                var cartIdStr = '';
                var cartId    = 0;
                var rel       = '';
                $("input[type=checkbox]").each(function(){
                    rel = $(this).attr("rel");
                    if (('foritem' == rel) && $(this).is(":checked")){
                        cartId = parseInt($(this).val());
                        if (cartId){
                            cartIdArr.push(cartId);
                        }
                    }
                });
                if (cartIdArr.length){
                    cartIdStr = cartIdArr.join(",");
                }
                var url = "index.php?c=Ajax_ShopCart&a=UpdateCartNumber&callback=?&t="+Math.random();
                $.getJSON(
                    url,
                    {cartIdStr:cartIdStr, goodsNumber:0, operate:0},
                    function(data){
                        if (data.flag){
                            $(".total-cart-price").html(data.totalCartPrice);
                            $("input[name=submitCart]").attr("disabled", false);
                        }
                    }
                );
            }
        });

        // 修改购物车数量
        $.extend({
            updateCartnumber:function(options){
                var defaults = {
                    cartId     : 0,
                    merchantId : 0,
                    maxNumber  : 0,
                    costNumber : 0,
                    updateType : 'plus'
                };
                var options     = $.extend(defaults, options);
                var cartId      = defaults.cartId;
                var merchantId  = defaults.merchantId;
                var costNumber  = defaults.costNumber;
                var maxNumber   = defaults.maxNumber;
                var updateType  = defaults.updateType;
                var goodsNumber = $("#cartNumber_"+cartId).val();
                goodsNumber = parseInt(goodsNumber);
                if ((isNaN(goodsNumber))||(goodsNumber <= 0)){
                    $("#cartNumber_"+cartId).val(costNumber);
                    return false;
                }


                // 更新商品类型
                switch(updateType){
                    case 'plus':
                        goodsNumber++
                        break;
                    case 'minus':
                        goodsNumber--
                        break;
                }

                if (!goodsNumber){
                    goodsNumber = 1;
                }
                if ((1 == costNumber) && (1 == goodsNumber)){
                    //return false;
                }
                if (goodsNumber > maxNumber){
                    goodsNumber = maxNumber;
                    $("#tips_"+cartId).html("最多只能购买" + maxNumber + "件").show();
                }else{
                    $("#tips_"+cartId).hide();
                }
                $("#cartNumber_"+cartId).val(goodsNumber);

                var cartIdStr = "";
                var cartIdArr = new Array();
                $("input[item=item]").each(function(){
                    if (this.checked){
                        cartIdArr.push($(this).val());
                    }
                });
                if (cartIdArr.length){
                    cartIdStr = cartIdArr.join(",");
                }
                var noChecked = false;
                if ('' == cartIdStr){
                    noChecked = true;
                }
                var url = "index.php?c=Ajax_ShopCart&a=UpdateCartNumber&callback=?&t="+Math.random();
                $.getJSON(
                    url,
                    {cartIdStr:cartIdStr, goodsNumber:goodsNumber, operate:cartId},
                    function(data){
                        if (data.flag){
                            if (!noChecked){
                                $(".total-cart-price").html(data.totalCartPrice);
                            }

                            $("#cartGoodsPcie_"+cartId).html(data.totalGoodsPrice);
                        }else{
                            alert(data.msg);
                        }
                    }
                );
            }
        });

        // 删除购物
        $.extend({
            deleteCart:function(options){
                var defaults = {
                    cartId     : 0,
                    deleteType : ''
                };
                var options     = $.extend(defaults, options);
                var cartId     = defaults.cartId;
                var deleteType = defaults.deleteType;
                var cartIdStr  = '';
//            var conf = confirm("您确实要删除该商品吗?");
//            if (!conf){
//                return false;
//            }
                if ('' == deleteType){
                    $("#zp-cart-"+cartId).show();
                    return false;
                }

                var cartIdArr  = new Array();
                $("input[item=item]").each(function(){
                    if (this.checked){
                        cartIdArr.push($(this).val());
                    }
                });
                cartIdStr = cartIdArr.join(",");
                var url = "index.php?c=Ajax_DeleteCart&a=DeleteCart&callback=?&t="+Math.random();
                $.getJSON(
                    url,
                    {cartIdStr:cartIdStr, operate:cartId, deleteType:deleteType},
                    function(data){
                        if (data.flag){
                            if (!data.isDelAll){
                                window.location.reload();
                                return false;
                            }else{
                                if (data.isDelMer){
                                    $("#merchant_"+data.merchantId).remove();
                                    $("#marketing_"+data.merchantId).remove();
                                }
                            }

                            if ('collect' == deleteType){
                                alert("收藏成功");
                            }

                            if (data.isUpdate){
                                $(".total-cart-price").html(data.totalCartPrice);
                            }

                            $("#cart_"+cartId).remove();
                        }else{
                            alert(data.msg);
                        }
                    }
                );

            }
        });

        $.extend({
            closeDeleteCart:function(options){
                var defaults = {
                    cartId : 0
                };
                var options = $.extend(defaults, options);
                var cartId  = defaults.cartId;
                $("#zp-cart-"+cartId).hide();
            }
        });

        // 批量删除商品
        $.extend({
            deleteAll : function(){
                var cartIdStr  = '';
                var cartIdArr  = new Array();
                $("input[item=item]").each(function(){
                    if (this.checked){
                        cartIdArr.push($(this).val());
                    }
                });
                cartIdStr = cartIdArr.join(",");
                if ('' == cartIdStr){
                    alert("请选择商品");
                    return false;
                }
                var conf = confirm("确认要删除选中的商品吗？");
                if (!conf){
                    return false;
                }
                var url = "index.php?c=Ajax_DeleteCart&a=DeleteAll&callback=?&t="+Math.random();
                $.getJSON(
                    url,
                    {cartIdStr:cartIdStr},
                    function(data){
                        if (data.flag){
                            window.location.reload();
                        }else{
                            alert(data.msg);
                        }
                    }
                );
            }
        });

        // 批量删除失效产品
        $.extend({
            clearInvalid : function(){
                var url = "index.php?c=Ajax_DeleteCart&a=clearInvalid&callback=?&t="+Math.random();
                $.getJSON(
                    url,
                    function(data){
                        if (data.flag){
                            window.location.reload();
                        }else{
                            alert(data.msg);
                        }
                    }
                );
            }
        });

        if ($("input[type=radio]").length > 0) {
            $("input[type=radio]").eq(0).trigger("click");
        }
        $("form").submit(function(){
            var haveTuan = 0;
            var haveNotTuan = 0;
            $("input[name='cartId[]']:checked").each(function(){
                var istuan = $(this).parent().parent().attr('istuan');
                if (istuan == 1) {
                    haveTuan = 1;
                }
                if (istuan == 0) {
                    haveNotTuan = 1;
                }
            });
            if (haveTuan && haveNotTuan) {
                alert('参团商品暂时不支持合并结算，请单独选择参团商品进行结算');
                return false;
            }
        });
    })
</script>
<script type="text/javascript">
    window["_BFD"] = window["_BFD"] || {};
    _BFD.BFD_INFO = {
        items : [
            ['29831200', 1838, 1],
        ],
        user_id : "49625240",
        client : "Ctest_zgc"
    };
    _BFD.script = document.createElement("script");
    _BFD.script.type = 'text/javascript';
    _BFD.script.async = true;
    _BFD.script.charset = 'utf-8';
    _BFD.script.src = (('https:' == document.location.protocol?'https://ssl-static1':'http://static1')+'.baifendian.com/service/zhongguancun/zx_cart.js');
    document.getElementsByTagName("head")[0].appendChild(_BFD.script);
    function RecommendGoods(datas){
        var baseDetailUrl = "http://www.zol.com";
        var datasLength = datas.length;
        var goodsArr    = new Array();
        if (datasLength){
            for (var i = 0; i < datasLength; i++){
                goodsArr.push(datas[i].iid);
            }
        }
        if (goodsArr.length){
            var str = '';
            var url = baseDetailUrl+"/index.php?c=Ajax_GoodsRecommend&callback=?&t="+Math.random();
            var goodsStr = goodsArr.join(",", goodsArr);
            $.getJSON(
                url,
                {goodsIdStr:goodsStr, goodsNumber:5},
                function(data){
                    if (data.flag){
                        var goodsInfo = data.goodsInfo;
                        str += '<ul class="modgoods-list clearfix" style="display:block;">';
                        for (key in goodsInfo){
                            str += '<li>';
                            str += '<a class="pic" href="'+goodsInfo[key].goodsUrl+'" title="'+goodsInfo[key].goodsName+'" ><img width="160" height="120" src="'+goodsInfo[key].picUrl+'" alt="'+goodsInfo[key].goodsName+'"><span>'+goodsInfo[key].goodsName+'</span></a>';
                            str += '<div class="price">&yen;'+goodsInfo[key].goodsPrice+'</div>';
                            str += '</li>';
                        }
                        str += '</ul>';
                        $(".modgoods-tabbox").html(str);
                        if (goodsInfo.length < 1) {
                            $("#zp-goods-recommend").remove();
                        }
                    }else{
                        $("#zp-goods-recommend").remove();
                    }
                }
            )
        }else{
            $("#zp-goods-recommend").remove();
        }
    }
    var time = 1510046082;
    function tuanCountDown() {
        time += 1;
        $(".time").each(function(){
            timeLeft = parseInt($(this).attr('end-time')) - time;
            if (timeLeft >= 0) {
                var hour = Math.floor(timeLeft / 3600);
                hour = hour < 10 ? "0" + hour : hour;
                var minute = Math.floor(timeLeft / 60) - (hour * 60);
                minute = minute < 10 ? "0" + minute : minute;
                var second = timeLeft - (hour * 3600) - (minute * 60);
                second = second < 10 ? "0" + second : second;
                $(this).find("span").eq(0).text(hour);
                $(this).find("span").eq(1).text(minute);
                $(this).find("span").eq(2).text(second);
            }
        });
    }
    setInterval(tuanCountDown, 1000);
</script>
</body>
</html>