

<style>
    .footer .footer-nav-bar a{
        cursor: default;
    }
</style>

<div class="footer">
    <div class="footer-nav-bar">
        <div class="wrapper">
            <div class="footer-nav">
                <a href="http://shop.gaosiwen.xin" >本商城主页</a>        		</div>
            <div class="copyright">
                <a href="http://www.gaosiwen.xin" >我的博客</a>  | <a href="http://tool.gaosiwen.xin" >我的个人主页</a>      </div>
            <div class="copyright">
                        	<span style="margin-left:-5px;">
                                &copy;2017 京ICP备17049637号-1
                            </span>
            </div>
        </div>
</div>

<script src="__STATIC__/index/js/public_head.js"></script>
<script src="__STATIC__/index/js/menuAim.js"></script>
<script src="__STATIC__/index/js/bxSlider.min.js"></script>
<script src="__STATIC__/index/js/countDown.js"></script>
<script src="__STATIC__/index/js/selectShowNoId.js"></script>
<script src="__STATIC__/index/js/home.js"></script>
<script language="JavaScript" src="__STATIC__/index/js/pv.js" type="text/javascript"></script>

</body>
</html>