{extend name="master" /}
{block name="main"}
<ul class="nav nav-tabs" role="tablist">
    <li><a href="/admin/tag">标签管理</a></li>
    <li class="active"><a href="/admin/tag/create" >标签编辑</a></li>
</ul>
<form action="/admin/tag/update?id={$data['cid']}" method="POST" class="form-horizontal" role="form">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">标签添加</h3>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label for="" class="col-sm-2 control-label">标签名称</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="cname" value="{$data['cname']}">
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-sm-2 control-label">父级标签</label>
                <div class="col-sm-10">
                    <select name="pid" id="inputID" class="form-control">
                        <option value="0"> -- 新标签 -- </option>
                        {volist name="allData" id="vo"}
                            <option {if condition="($data['pid'] == $vo['cid'])"}selected{/if} value="{$vo['cid']}">{$vo['_cname']}</option>
                        {/volist}
                    </select>

                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-sm-2 control-label">标签图片</label>
                <div class="col-sm-10">
                    <div class="input-group">
                        <input class="form-control" name="path" readonly="" value="">
                        <div class="input-group-btn">
                            <button onclick="upImage(this)" class="btn btn-default" type="button">选择图片</button>
                        </div>
                    </div>
                    <div class="input-group" style="margin-top:5px;">
                        <img src="/node_modules/hdjs/dist/static/image/nopic.jpg" class="img-responsive img-thumbnail" width="150">
                        <em class="close" style="position:absolute; top: 0px; right: -14px;" title="删除这张图片"
                            onclick="removeImg(this)">×</em>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-primary">提交</button>
</form>
<script>
    //上传图片
    function upImage() {
        require(['hdjs'], function (hdjs) {
            options = {
                multiple: false,//是否允许多图上传
                //data是向后台服务器提交的POST数据
                data: {name: '后盾人', year: 2099},
            };
            hdjs.image(function (images) {
                //上传成功的图片，数组类型
                $("[name='path']").val(images[0]);
                $(".img-thumbnail").attr('src', images[0]);
            }, options)
        });
    }
    //移除图片
    function removeImg(obj) {
        $(obj).prev('img').attr('src','/node_modules/hdjs/dist/static/image/nopic.jpg');
        $(obj).parent().prev().find('input').val('');
    }
</script>
{/block}