/*
@Description:zol商城首页改版
@author: jialiping
@update: 2017-05-11 14:00;
*/

/* global */
.wrapper { width:1200px; margin:0 auto; }
body { background-color: #f7f7f7; }

/* bg */
.section-header,
.more-link,
.tuan-slide .bx-prev,
.tuan-slide .bx-next,
.coupon-list .ico,
.fixed-nav-bar .back-top .trangle { background: url(http://icon.zol-img.com.cn/newshop/shop/index/zol-home-icons.png) no-repeat; }

/* focus-banner */
.focus-banner { position: relative; height: 400px; min-width: 1200px; overflow: hidden;}
.focus-box { position: absolute; top:0; left: 50%; width:1920px; height: 400px; margin:0 0 0 -960px; overflow:hidden;}
.focus-list {  width:1920px; height: 400px; overflow: hidden;}
.focus-list li { width:100%; height: 100%;}
.focus-list a { display: block; width:100%; height: 100%;}
.focus-list a img { width:100%; height: 100%; vertical-align: middle; }

.focus-box .bx-wrapper { position: relative; zoom:1; }
.focus-box .bx-pager {position:absolute; z-index: 51; left:50%; bottom:10px; width:1200px; height:10px; margin:0 0 0 -600px; overflow:hidden; font:0/0 arial; text-align:center; text-indent:1px}
.focus-box .bx-pager-item, .focus-box .bx-pager-item a {display:inline-block; width:10px; height:10px; vertical-align:top; font:0/0 arial; overflow:hidden}
.focus-box .bx-pager-item {margin:0 3px 0 2px; text-indent:0; display: inline}
.focus-box .bx-pager-item a {border-radius: 5px; background-color:#f6f6f6}
.focus-box .bx-pager-item .active {background-color:#ce1a1b}
/* 箭头 */
.focus-box .bx-prev,.focus-box .bx-next{position: absolute;top:50%;width: 62px;height: 94px;z-index:100;}
.focus-box .bx-prev{left:50%;background-position: left -94px;margin:-47px 0 0 -662px;}
.focus-box .bx-next{right:50%;background-position: left top;margin:-47px -662px 0 0;}
.focus-box .bx-prev .bg_mask,.focus-box .bx-next .bg_mask{display: none;position: absolute;top: 0;left: 0;width: 62px;height: 94px;background-color: #000;opacity: .5;filter: alpha(opacity = 50);}
.focus-box .bx-prev:hover .bg_mask,.focus-box .bx-next:hover .bg_mask{display: block;}
.focus-box .bx-prev .arrow,.focus-box .bx-next .arrow{position: absolute;top: 0;left: 0;width: 62px;height: 94px;background: url(http://icon.zol-img.com.cn/newshop/shop/index/arrow.png) no-repeat;}
.focus-box .bx-prev .arrow{background-position: left -94px;}
.focus-box .bx-next .arrow{background-position: left top;}

/* section */
.section { padding:34px 0 0; zoom:1; }
.section-header { height: 36px; margin:0 0 10px; padding:0 0 0 40px; line-height: 36px;}
.section-1 .section-header { background-position: -137px 3px; }/* 团购图标 */
.section-2 .section-header { background-position: -138px -42px; }/* zol体验店图标 */
.section-3 .section-header { padding-left: 36px; background-position: -143px -85px; }/* 同城购图标 */
.section-4 .section-header { background-position: -138px -125px; }/* 品牌精选图标 */
.section-5 .section-header { background-position: -135px -167px; }/* 电竞频道图标 */
.section-6 .section-header { background-position: -141px -208px; }/* 数码集市图标 */
.section-header h3 { float: left; margin:0 10px 0 0; font-size: 24px; font-weight: 400; }
.section-header .sec-header-tip { float: left; margin:8px 0 0; font-size: 14px; line-height: 28px; color: #999;}
.more-link { padding:0 23px 0 0; height:36px; overflow:hidden; color: #666; line-height: 40px; background-position: 100% -277px;}
.more-link:hover { color: #f33; background-position: 100% -309px; text-decoration:none;}
.section-header .more-link { float: right; }

/* 团购 */
.tuan-region{border-top: 2px solid #ec3639;}
/* banner */
.tuan-region_banner{position: relative;float: left;width: 160px;height: 562px;}
.tuan-region_banner .pic{position: absolute;right: -2px;bottom: 0;width: 181px;height: 587px;}
.tuan-region_banner .more-tuan{position: absolute;left: 26px;top: 150px;width: 107px;height: 31px;line-height: 31px;text-align: center;font-size: 16px;color: #fff;background: url(http://icon.zol-img.com.cn/newshop/shop/index/moreTuan.png) no-repeat center;}
/* 团购商品 */
.tuan_ware-list{margin: 0 356px 0 160px;}
.tuan_ware-list .item{float: left;width: 227px;height:280px;margin: 0 1px 1px 0;background-color: #fff;}
.tuan_ware-list .pic{display: block;text-align: center;}
.tuan_ware-list .pic img{width: 180px;height: 180px;vertical-align: top;}
.tuan_ware-list .item:hover .function-upward_hover{height: 52px;}
.tuan_ware-list .word-info{padding: 0 30px;}
.tuan_ware-list .name{height: 16px;line-height: 16px;font-size: 14px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
.tuan_ware-list .price{height: 36px;line-height: 36px;color: #f33;font-size:18px;}
.tuan_ware-list .price .price_rmb{font-size: 14px;}
.tuan_ware-list .time {height: 24px;line-height: 24px;color: #999; }
.tuan_ware-list .time em { color: #333; }
.tuan_ware-list .time .red-color { color: #f33; }
/* 到店商品 */
.tuan_ware-arrival{float: right;width: 356px;}
.tuan_ware-arrival .item{height: 140px;padding: 30px 20px 17px;background-color: #fff;}
.tuan_ware-arrival .pic{position: relative;float: left;width: 140px;height: 140px;}
.tuan_ware-arrival .pic img{width: 140px;height: 140px;vertical-align: top;}
.tuan_ware-arrival .pic .icon{position: absolute;right: 0;top: 0;width:29px;height:38px;padding:4px 3px 0;font-size: 12px;line-height: 14px;text-align: center;color: #fff;background: url(http://icon.zol-img.com.cn/newshop/shop/index/actIcon.png) no-repeat center;}
.tuan_ware-arrival .word-info{margin-left: 160px;}
.tuan_ware-arrival .name{height: 22px;line-height: 22px;font-size: 14px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
.tuan_ware-arrival .price{height: 32px;margin-bottom: 6px;line-height: 32px;color: #f33;font-size:18px;}
.tuan_ware-arrival .price .price_rmb{font-size: 14px;}
.tuan_ware-arrival .icon-group{height: 22px;margin-bottom: 15px;overflow: hidden;}
.tuan_ware-arrival .icon-group .icon{display: inline-block;height: 22px;line-height: 22px;padding: 0 15px;background-color: #ffe3e3;color: #ec3639;border-radius: 10px;}
.tuan_ware-arrival .arrival-btn{display: block;width: 155px;height: 32px;line-height: 32px;text-align: center;font-size: 16px;color: #fff;background: url(http://icon.zol-img.com.cn/newshop/shop/index/arrivalBtn.png) no-repeat center;cursor: pointer;}


/* 优惠券 */
.coupon-list { margin:20px 0 0; }
.coupon-list li { position: relative; float:left; width:221px; height: 90px; padding:10px 10px 0; margin:0 15px 0 0; border:1px solid #f0f0f0; background-color: #fff; -webkit-box-shadow: 1px 0 3px #e8e8e8; box-shadow: 1px 0 3px #e8e8e8;}
.coupon-list .ico { position: absolute; top:0; right:-18px; width:18px; height: 101px; background-position: -68px 0;}
.coupon-list .info { height: 60px; }
.coupon-list .price { float: left; height: 55px; width:111px; text-align: left; font-size: 32px; color: #f66; line-height: 55px; overflow: hidden; font-weight: 700; -webkit-transform: skewX(-15deg); transform: skewX(-15deg); -webkit-transform-origin: 50% 50%; transform-origin: 50% 50%;}
.coupon-list .name { float: right; width:100px; }
.coupon-list .name h5 { height: 22px; padding:6px 0 0; font-size: 14px; line-height: 22px; color: #f66; overflow: hidden;}
.coupon-list .name p { color: #999; }
.coupon-list .go-and-get { height: 29px; border-top: 1px solid #f3f3f3; line-height: 29px; text-align: center; line-height: 29px; color: #999;}
.coupon-list .go-and-get a { color: #f66; }
.coupon-list .go-and-get a span { font-family: simsun; }
.coupon-list .go-and-get a:hover { color: #f66; }

.coupon-list .all { width:137px; height: 92px; margin-right: 0; padding-left:20px; border:0 none; background: url(http://icon.zol-img.com.cn/newshop/shop/index/coupon-all-bg.png) no-repeat; color: #fff; -webkit-box-shadow: none; box-shadow: none;}
.coupon-list .all h4 { font-size: 24px; line-height: 33px; font-weight: 400; }
.coupon-list .all p { font-size: 14px; line-height: 21px; color: #fcc; }
.coupon-list .all .look { font-size: 14px; line-height: 32px; color: #fff;}
.coupon-list .all .look span { font-family: simsun; }
.coupon-list .all .look:hover { color: #fff; }
.coupon-list .all .ico { background-position: -91px 0; }

/* 领取优惠券状态弹层 */
.zs-layer-box{ position:fixed; _position:absolute; top:50%; left:50%; margin:0 0 0 -208px; padding:4px; width:416px; background:rgba(0,0,0,0.15); filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#26000000,endcolorstr=#26000000,gradientType=1); z-index:200;}
:root .zs-layer-box{ filter:none;}
.zs-layer-body{ padding:40px 20px 40px 48px; background:#fff; border:1px solid #ccc;}
.zs-layer-box .zs-layer-hd{ position:relative; zoom:1;}
.zs-layer-box .zs-close{ position:absolute; top:-30px; right:-10px; display:block; width:18px; height:17px; text-indent:-9999em; font:0/0 arial; background:url(http://icon.zol-img.com.cn/newshop/shop/detail/youdian_v1/bg.png) no-repeat -8px -280px; cursor:pointer;}
.zs-layer-box .zs-close:hover{ background-position:-8px -307px;}
.zs-layer-box .zs-layer-content{ padding:0;}
.zs-layer-body h3{ padding:0 0 5px; font:18px/24px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";}
.zs-layer-body p{ line-height:26px; color:#666}
.zs-success{ padding:10px 0 8px 60px; background:url(http://icon.zol-img.com.cn/newshop/shop/detail/youdian_v1/bg.png) no-repeat -14px -893px;}
.zs-success p em{ padding:0 5px;}
.zs-failure{ margin:22px 0; padding:0 0 0 60px; background:url(http://icon.zol-img.com.cn/newshop/shop/detail/youdian_v1/bg.png) no-repeat -14px -833px;}
.zs-failure p em{ padding:0 5px; color:#c00;}

/* fixed-nav-bar */
.fixed-nav-bar { position: absolute; z-index: 50; left: 50%; width:80px; margin:0 0 0 -720px; background-color: #908787; overflow: hidden;}
.fixed-nav-bar a { position: relative; display: block; height: 38px; border-bottom:1px solid #a19999; font-size: 14px; line-height: 38px; overflow: hidden; color: #fff; text-align: center;}
.fixed-nav-bar a:hover { z-index: 2; margin:-1px 0 0; padding:1px 0 0; color: #fff; text-decoration: none; background-color: #ec3639; border-color: #ec3639; }
.fixed-nav-bar .back-top { border:0 none; background-color: #5d4949; }
.fixed-nav-bar .back-top .trangle { display: inline-block; width:9px; height: 38px; margin:0 0 0 4px; vertical-align: top; *vertical-align: middle; background-position: -114px 17px; }

/* wen.xudong's style start */
/* 功能标签 */
.function-icon{position: relative;display: inline-block;height: 22px;padding:0 6px;line-height: 22px;border: 1px solid #f66;vertical-align: top;font-size: 12px;color:#f33;overflow: hidden;border-radius: 3px;}
.function-icon:hover{text-decoration: none;}
.function-icon_hover{position: absolute;left: 0;top: 0;width:0;height: 100%;overflow: hidden;transition: width .5s;-webkit-transition: width .5s;}
.function-icon_hover .con{height: 100%;padding-left: 6px;text-align: left;font-size: 12px;background-color:#f66;color: #fff;white-space: nowrap;}
.function-icon:hover .function-icon_hover{width: 100%;}

/* 详情内容向上滑动产品 */
.upward-ware{background-color: #fff;}
/* 图片 */
.upward-ware .pic{display: block;}
.upward-ware .pic img{vertical-align: top;}
/* 滑动区域 */
.function-upward_region{position: relative;margin-bottom: 10px;}
.function-upward_hover{position:absolute;left: 0;bottom: 0;width: 100%;height:0;overflow: hidden;transition: height .35s;-webkit-transition: height .35s;}
.function-upward_hover .opacity-mask{position: absolute;left: 0;bottom: 0;width: 100%;height: 52px;background-color: #000;opacity: .6;filter: alpha(opacity=60);}
.function-upward_con{position: absolute;left: 0;bottom: 0;width: 100%;height: 52px;text-align: center;}
.function-upward_con .refer-price{height: 22px;margin-top: 5px;line-height: 22px;font-size:12px;color: #fff;}
.function-upward_con .ware-detail{height: 22px;line-height: 22px;}
.function-upward_con .ware-detail a{font-size: 12px;color: #fff;}
.function-upward_con .ware-detail span{margin: 0 8px;color: #999;}
/* 产品名，价格 */
.upward-ware .ware-name{height: 22px;line-height: 22px;font-size: 14px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
.upward-ware .price{height: 34px;line-height: 34px;font-size: 18px;color:#f33;}
.upward-ware:hover .function-upward_hover{height: 52px;}

/* 同城购 */
/* banner */
.citywide-banner_pic { padding:0 0 12px; zoom:1; }
.citywide-banner_pic img { vertical-align: middle; }
.citywide-banner_list{width: 1200px;margin: 0 auto;}
.citywide-banner_list .item{float: left;width: 398px;height: 200px;margin: 0 1px;vertical-align:top;}
/* ware */
.citywide-ware_list{background-color: #fff;}
.citywide-ware_list .item{float: left;width: 200px;padding: 20px 20px 24px;}
.citywide-ware_list .pic{display: block;margin-bottom: 10px;}
.citywide-ware_list .pic img{vertical-align:top;}
.citywide-ware_list .ware-name{height: 22px;line-height: 22px;font-size: 14px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
.citywide-ware_list .ware-msg{height: 22px;line-height: 22px;font-size: 14px;color: #999;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
.citywide-ware_list .price-info{height: 32px;margin-bottom: 5px;line-height: 32px;}
.citywide-ware_list .price{float: left;font-size: 18px;color: #f33;}
.citywide-ware_list .refer-price{float: right;color: #f33;}
.citywide-ware_list .refer-price .tl{color: #999;}
.citywide-ware_list .ware-detail{text-align: center;}

/* 品牌精选 */
.choice-brand_list{margin-left: -12px;}
.choice-brand_list .item{float: left;width: 200px;height: 300px;padding: 20px 15px;margin-left: 12px;text-align: center;background-color: #fff;}
.choice-brand_list .pic{display: block;margin-bottom:22px;}
.choice-brand_list .pic img{vertical-align: top;-webkit-transition: all 300ms; transition: all 300ms;}
.choice-brand_list .ware-name{height: 30px;line-height: 30px;font-size:14px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
.choice-brand_list .ware-price{height: 30px;line-height: 30px;font-size: 14px;}
.choice-brand_list .ware-price .price{color: #f33;}
.choice-brand_list .item:hover{box-shadow:1px 1px 4px #ccc, -1px 1px 10px #ccc;;-webkit-box-shadow: 1px 1px 4px #ccc, -1px 1px 10px #ccc;}
.choice-brand_list .item:hover .pic img { -webkit-transform: scale(1.1);  transform: scale(1.1); }
/* first */
.choice-brand_list .first{width: 230px;height: 340px;padding: 0;}
.choice-brand_list .first:hover{box-shadow:none; -webkit-box-shadow:none;}
.choice-brand_list .first:hover .pic img { -webkit-transform: scale(1);  transform: scale(1); }

/* 电竞、数码公用模块 */
.column-box{float: left;width: 594px;margin-left: 12px;}
/* 头部 */
.column-hd{height: 46px;padding: 0 15px;line-height: 46px;}
.column-hd .tl{float:left;font-size: 18px;color: #fff;}
/* tab */
.column-hd_tab{float: right;margin: 10px 5px 0 0;}
.column-hd_tab .tab-btn{float: left;height: 22px;margin-left: 28px;line-height: 22px;font-size: 14px;color: #fff;cursor: pointer;}
.column-hd_tab .tab-btn.cur{border-bottom:3px solid #fff;}
/* 更多 */
.column-hd_more{float: right;height: 18px;margin-top: 14px;line-height: 18px;color: #fff;}
.column-hd_more .word{font-size: 14px;vertical-align: top;}
.column-hd_more .icon{display: inline-block;width: 16px;height: 16px;line-height: 16px;text-align: center;border: 1px solid #fff;border-radius: 8px;font-family: simsun;vertical-align: top;}
.column-hd_more:hover{text-decoration: none;color: #fff;}
/* 内容 */
.column-con{background-color: #fff;}
/* 焦点图 */
.column-focus{position: relative;width:594px;height:260px;overflow: hidden;}
.column-focus .bx-pager{position:absolute;left:0;bottom:15px;width:100%;text-align:center;}
.column-focus .bx-pager-item{display: inline-block;width:10px;height:10px;margin:0 4px;*display:inline;*zoom:1;}
.column-focus .bx-pager-item a{display: block;width:10px;height:10px;font-size:0;line-height: 0;background-color: #000;opacity: .6;filter: alpha(opacity=60);border-radius: 50%;}
.column-focus .bx-pager-item a.active{background-color: #f00;opacity:1;filter: alpha(opacity=100);}
/* 产品 */
.column_ware-list .item{float:left;width: 160px;height: 260px;padding: 0 19px;}
.column_ware-list .pic{padding:10px 0;}
/* 品牌推荐 */
.column_brand-region{border-top: 1px solid #f7f7f7;overflow: hidden;}
.column_brand-item{position: relative;float: left;width: 120px;height: 60px;padding: 10px 14px;}
.column_brand-item .pic{display: block;}
.column_brand-item .pic img{vertical-align: top;}
.column_brand-item .cutoff-line{position: absolute;left:-1px;top: 50%;width: 1px;height: 20px;margin-top:-10px;background-color: #e6e6e6;}
/* tab-con */
.column-con_tab .tab-con{display: none;}
.column-con_tab .tab-con.cur{display:block;}

/* 电竞频道 */
.gaming{margin-left: -12px;}
.gaming_hot .column-hd{background-color: #7095ee;}
.gaming_diy .column-hd{background-color: #9b74e9;}

/* 数码集市 */
.digital{margin-left: -12px;}
.digital_film .column-hd{background-color: #3ccbbc;}
.digital_computer .column-hd{background-color: #eb9e74;}

/* 3c数码 */
.digital-3c_hd{height: 94px;line-height: 94px;text-align: center;background: url(http://icon.zol-img.com.cn/newshop/shop/index/digital-3c_hd.png) repeat-x left center;}
.digital-3c_hd .tl{display: inline-block;font-size: 24px;padding:0 15px;background-color: #f7f7f7;}
/* 产品列表 */
.digital-3c_list{margin-left: -12px;}
.digital-3c_list .item{float: left;width: 200px;height: 300px;padding: 10px 15px;margin:0 0 12px 12px;}
.digital-3c_list .function-upward_region{padding: 18px 0;margin-bottom: 0;}

/* 评价弹层 */
.evaluate-layer{position:fixed; z-index: 100; left: 50%;top: 50%;width: 790px;height:590px;padding: 5px;margin: -300px 0 0 -400px;}
.opacity-border{position: absolute;left: 0 ;top: 0;width: 800px;height: 600px;background-color: #000;opacity: .4;filter: alpha(opacity=40);}
.evaluate-layer_main{position: absolute;left: 5px;top: 5px;width: 790px;height: 590px;background-color: #fff;}
/* 头部 */
.evaluate-layer_hd{height: 90px;background-color: #008ee1;overflow: hidden;}
.evaluate-layer_hd .tl{height: 46px;margin-top:7px;line-height: 46px;text-align: center;font-size: 20px;color: #fff;}
.evaluate-hd_tab{height: 26px;line-height: 26px;text-align: center}
.evaluate-hd_tab .tab-btn{display: inline-block;margin: 0 24px;font-size: 16px;color: #fff;vertical-align: top;cursor: pointer;*display:inline;*zoom:1;}
.evaluate-hd_tab .tab-btn.cur{border-bottom: 3px solid #fff;}

.evaluate-hd_tab .tab-btn a{display: inline-block;font-size: 16px;color: #fff;vertical-align: top;cursor: pointer;*display:inline;*zoom:1;}


.evaluate-layer_hd .close-btn{position: absolute;right: 10px;top: 10px;width: 33px;height: 33px; font:33px/29px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1"; text-align: center;color: #fff;cursor: pointer;}
.evaluate-layer_hd .close-btn:hover{ background:#33a5e7; border-radius:50px;}
/* 内容 */
.evaluate-layer_con{position: relative;height: 500px;overflow:hidden;}
/* 评测文章 */
.article-detail .article-header{ padding:20px 0 0;}
.article-detail .next-article{ position:absolute; top:10px; left:0; padding:0 10px; width:230px; height:26px; white-space: nowrap;text-overflow: ellipsis; overflow:hidden; background:rgba(0,0,0,0.6); color:#fff; font:12px/26px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1"; border-radius:50px;}
.article-detail .next-article:hover{ color:#fff;}
.article-detail .article-header .article-title { font-size: 28px; line-height: 1.5; font-weight: 600; text-align: center; margin-bottom: 15px; overflow: hidden; word-wrap: break-word; word-break: break-all;}
.article-detail .article-header .article-head { margin-bottom: 30px; text-align: center; }
.article-detail .article-header .article-head .article-head-item { color: #999; margin-right: 5px; font-size: 12px; }
.article-detail .article-header .article-head .article-author-name { color: #228de3; text-decoration: none;}
.article-p { font-size: 16px; color: #333; line-height: 33px; padding-left: 5px; padding-right: 5px; margin-bottom: 30px; text-indent: 2em; }
.article-content-img { text-align: center; margin: 0 auto; padding: 0 70px; position: relative; }
.article-content-img .lazy-img { width: 100%; border: 1px solid #e5e5e5; vertical-align: bottom; margin: 0 auto; margin-bottom: 30px; }
/* 视频 */
.article-detail .video-title { margin-bottom: 30px; }
.article-detail .video-title > a { font-size: 20px; text-decoration: none; color: #333; text-align: left; word-break: break-all; overflow: hidden; }
.video-box { display: block; width: 740px; height:554px; margin: 0 auto; position: relative; z-index: 1; overflow: hidden; }
/* 点评 */
.biger-star,.biger-star em,.discuss-item .view-more .icon-darr{ background: url(http://icon.zol-img.com.cn/newshop/shop/index/product-publicIcons.png) no-repeat;}
.discuss-list .discuss-item { position: relative; zoom: 1; margin: 5px 0 20px; padding: 0 0 0 140px; border: 1px solid #e6e6e6; background: #fafafa; font-family: 'Microsoft YaHei',arial;}
.discuss-list .discuss-user { position: absolute; top: 0; left: 0; width: 140px; margin: 0; padding: 25px 0 0; border: 0 none;text-align: center; _display: inline; overflow: hidden; }
.discuss-list .discuss-user .face { width: 50px; height: 50px; line-height: 50px; display: block; vertical-align: middle; border-radius: 50%;  overflow: hidden; z-index: 1; text-align: center; margin: 0 auto; }
.discuss-item .discuss-user > img { display: block; width: 100%; height: auto; -webkit-border-radius: 25px; border-radius: 25px; vertical-align: top; }
.discuss-item .discuss-user-name { overflow: hidden; zoom: 1; margin: 12px 0 0; }
.discuss-item .discuss-user-name .discuss-user-name-text { display: block; text-align: center;  white-space: nowrap; overflow: hidden; text-overflow: ellipsis; word-break: break-all; padding: 0 5px; }
.discuss-item .discuss-user-name .discuss-user-name-time { display: block; text-align: center; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; word-break: break-all; padding: 0 5px; }
.discuss-item .discuss-user-name p.discuss-user-name-time { height: 18px; overflow: hidden; margin: 4px 0 0; color: #999; line-height: 18px; }
.discuss-list .discuss-list-content { padding: 18px 0 17px; background: #fff; position: relative; overflow: hidden; min-height: 115px; }
.discuss-item .single-score { padding: 0 20px; color: #666; line-height: 18px; }
.discuss-item .single-score .date { float: right; color: #999; word-break: break-all; }
.star { width: 69px;height: 12px; overflow: hidden; background-position: 0 -80px;}
.biger-star { width: 79px; height: 14px; background-position: 0 0;}
.discuss-item .single-score .star {float: left; margin: 1px 5px 0 0;}
.star em { float: left; height: 12px; background-position: 0 -60px;}
.biger-star em { height: 14px; background-position: 0 -20px;}
.discuss-item .discuss-content { padding: 0 20px; position: relative; overflow: hidden; }
.discuss-item .discuss-content h3 { padding: 10px 0 6px;font-weight: normal;font-size: 16px; line-height: 26px; white-space: nowrap; overflow: hidden;text-overflow: ellipsis; text-align: left; }
.discuss-height-limit .content-inner { position: relative; overflow: hidden; zoom: 1; }
.discuss-item .discuss-words { position: relative; zoom: 1; overflow: hidden; margin: 0; font-size: 14px; line-height: 24px; margin-bottom: 5px; }
.discuss-item .discuss-words strong { float: left; width: 45px; }
.discuss-item .discuss-words p { overflow: hidden; zoom: 1; }
.hide { display: none; }
.discuss-item .view-more { display: none; overflow: hidden; zoom: 1; height: 18px; margin: 9px 0 0; }
.discuss-item .view-more a { position: relative; zoom: 1; float: left; padding: 0 15px 0 0; font-size: 14px; line-height: 18px; color:#134ba0;}
.discuss-item .view-more a:hover{ color:#f33;}
.discuss-item .view-more .icon-darr { position: absolute; top: 7px;right: 0; width: 9px; height: 5px; overflow: hidden; background-position: -31px -105px; }
.discuss-item .media-group { margin-bottom: 25px; padding: 6px 0 0; }
.discuss-item .media-group li { position: relative; float: left; width: 80px; height: 60px; margin: 5px 5px 0 0; border: 1px solid #f8f8f8; overflow: hidden; background-color: #eee; }
.discuss-item .media-group img { display: block;width: 100%; height: auto; vertical-align: top; }
.discuss-item .discuss-content .source { color: #999; font-size: 12px; }
.discuss-item .icon-from-android { padding: 1px 0 1px 18px; background-position: 0 -17px; }
.discuss-item .icon-from-wap { padding: 1px 0 1px 18px; background-position: 0 -56px; }
/* 精 */
.essence-icon { background: url('http://frontend.svn.test.zol.com.cn/zolcom/mall_2017/PC/%E5%95%86%E5%9F%8E%E5%9B%9B%E6%9C%9F%E7%BC%96%E8%BE%91%E5%90%8E%E5%8F%B0%E5%89%8D%E5%8F%B0/images/product-comment-bg.png') no-repeat; }
.essence-icon { position: absolute;top: -4px; right: 88px; width: 28px; height: 32px; text-align: center; color: #fff; line-height: 24px;padding: 0 3px 0 0; background-position: -50px -95px; z-index: 10;}
/* 翻页 */
.zs-page .zs-prev, .zs-page .no-zs-prev, .zs-page .zs-next, .zs-page .no-zs-next{ background:url(http://icon.zol-img.com.cn/newshop/shop/detail/youdian_v1/bg.png) no-repeat;}

.zs-page{ margin:0; padding:10px 0; text-align:center;}
.zs-page a,.zs-page span{ display:inline-block; margin:0 2px; padding:0 11px; height:30px; vertical-align:top; white-space:nowrap; text-align:center; font:14px/30px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1"; color:#333; background:#fff; border:1px solid #ededed;}
.zs-page a:hover{ text-decoration:none; background-color:#f7f7f7; color:#c00;}
.zs-page .cur{ background:#fafafa; color:#c00; font-weight:bold;}
.zs-page .zs-prev{ padding:0 12px 0 25px; background-position:0 -737px;}
.zs-page .zs-next{ padding:0 25px 0 12px; background-position:100% -716px;}
.zs-page .no-zs-prev{ border:1px solid #ededed; background-position:0 -779px; color:#b3b3b3;}
.zs-page .no-zs-next{ border:1px solid #ededed; background-position:100% -758px; color:#b3b3b3;}

/* 到店玩 */
/* 左侧 */
.arrival-left{float: left;}
.arrival_ware-list{position: relative;width: 926px;height: 340px;overflow: hidden;}
.arrival_ware-list .item{position: absolute;left: 0;top: 0;width:58px;height: 340px;}
.arrival_ware-list .item.cur{width: 806px;}
.arrival_ware-list .tl{position:absolute;left: 0;top: 0;width: 58px;height: 340px;border-left: 2px solid #f7f7f7;}
.arrival_ware-list .tl .mask{position: absolute;left: 0;top: 0;width: 100%;height: 100%;background-color: #000;opacity: .4;filter: alpha(opacity = 40);}
.arrival_ware-list .tl .word{position: absolute;top: 40px;left: 18px;width:20px;text-align: center;color:#fff;font-size: 18px;line-height: 20px;word-break: break-all;word-wrap: break-word;}
.arrival_ware-list .pic{display: block;width: 806px;height: 340px;vertical-align: top;}
/* 右侧 */
.arrival-right{position: relative;float: right;width: 274px;height: 340px;}
.arrival-right_map{width: 274px;height: 340px; background: #fff;}
.arrival-right_go{position: absolute;left: 0;bottom: 0;width: 274px;height: 64px;}
.arrival-right_go .mask{position: absolute;left: 0;bottom: 0;width: 274px;height: 64px;background-color: #000;opacity: .4;filter: alpha(opacity = 40);}
.arrival-right_go .btn{position: absolute;left: 10px;top:8px;width:254px;height:48px;line-height: 48px;text-align: center;font-size: 16px;color: #fff;background-color: #ed363a;cursor: pointer;}
/* wen.xudong's style end */

/* noopsyche-box 智能精选 add by jialp at 20170811 start */
.noopsyche-box .section-header { padding-left: 39px; background-position: -138px -345px; }/* 智能精选图标 */
.noopsyche-header { padding: 16px 0 0; zoom:1; font-size: 24px; line-height: 72px; }
.noopsyche-inner { padding: 20px; background: #fff;}
.noopsyche-focus { float: left; width:731px; height: 235px; }
.noopsyche-focus_tab { float: left; width:101px; overflow: hidden; }
.noopsyche-focus_tab li { height: 47px; margin:-1px 0 0; border-top:1px solid #fff; background: #ececec; font-size: 16px; line-height: 48px; text-align: center; cursor: pointer;}
.noopsyche-focus_tab .active { background: #ce1a1b; color: #fff; }

.noopsyche-focus_slide_list { float: left; width:630px; height: 235px; overflow: hidden; }
.noopsyche-focus_slide_list li { display: none;}
.noopsyche-focus_slide_list a { display: block; }
.noopsyche-focus_slide_list img { vertical-align: middle; }

.noopsyche-pics { float: right; width:428px; }
.noopsyche-pics a { float: left; overflow: hidden; zoom:1;}
.noopsyche-pics img { vertical-align: middle; -webkit-transition: all 300ms; transition: all 300ms;}
.noopsyche-pics a:hover img { -webkit-transform: scale(1.1);  transform: scale(1.1); }

.noopsyche-pro-list { float: left; }
.noopsyche-pro-list li { position: relative; float: left; width:182px; height: 182px; margin:0 1px 0 0; overflow: hidden;}
.noopsyche-pro-list img { display: block; }
.noopsyche-pro-list a { color: #fff; }
.noopsyche-pro-list a:hover { text-decoration: none; color:#fff;}
.noopsyche-pro-list a * { cursor: pointer; }
.noopsyche-pro-list .noopsyche-pro_mark { position: absolute; top:152px; left: 0; width:182px; height: 176px; padding:3px 0; color: #fff; text-align: center; background:rgba(0,0,0,0.6); filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=#99000000,endColorstr=#99000000); -webkit-transition: all 300ms; transition: all 300ms;}
.noopsyche-pro_name { height: 24px; font-size: 14px; line-height: 24px;text-overflow:ellipsis; overflow:hidden; white-space:nowrap; }
.noopsyche-pro_price { font-size: 16px; line-height: 24px; }
.noopsyche-pro_btn { display: block; width:84px; height: 30px; margin:3px auto 13px; border-radius: 2px; background: #ce1a1b; font-size: 14px; line-height: 30px; text-align: center; }
.noopsyche-pro_else { height: 18px; padding:0 0 4px;}
.noopsyche-pro_else a { display: inline-block; width:18%; vertical-align: middle; }
.noopsyche-pro_else a:hover { text-decoration: underline; }
.noopsyche-pro-list li:hover .noopsyche-pro_mark { top:0; height: 162px; padding-top: 33px; }
.noopsyche-banner { padding:2px 0 0 ; }
.noopsyche-banner img { vertical-align: middle; }

/* 线下智能体验店  */
.tyan-shop-list li { position: relative; float: left; width:240px; padding:0 12px 0 141px; overflow: hidden;}
.tyan-shop-list_line { position: absolute; top:6px; left: 0; width:1px; height: 100px; background: #eee;}
.tyan-shop-list_pic { position: absolute; top:6px; left: 21px; width:100px; height: 100px; }
.tyan-shop-list img { display: block; border-radius: 50px;}
.tyan-shop-list_title { height: 32px; padding:3px 0 0; line-height: 32px; font-size: 18px; overflow: hidden;}
.tyan-shop-list p { height: 44px; overflow: hidden; word-wrap: break-word; word-break: break-all; font-size: 14px; color: #999; line-height: 22px; }
.tyan-shop-list_tags { height: 20px; padding:10px 0 0; }
.tyan-shop-list_tags span { display: inline-block; height: 20px; padding:0 5px; margin:0 10px 0 0; background: #f7f7f7; vertical-align: middle; color: #999;}
.tyan-shop-list .first { padding-left: 120px; }
.tyan-shop-list .first .tyan-shop-list_line { display: none; }
.tyan-shop-list .first .tyan-shop-list_pic { left: 0; }


/* noopsyche-box 智能精选 add by jialp at 20170811 end */
/* 团购 */
.tuan-slide { height: 174px; }
.tuan-list ul { float: left; width:1200px; height: 150px; overflow:hidden; }
.tuan-list li { float: left; width:398px; height: 150px; margin:0 0 0 3px; overflow: hidden;}
.tuan-list .one { background-color: #fff6dd; margin-left: 0;}
.tuan-list .two { background-color: #ffe5e5; }
.tuan-list .three { background-color: #e3f9ff; }
.tuan-list .tuan-pro-top { position: relative; height: 120px; padding:15px 135px 15px 15px; }
.tuan-list .tuan-pro-top h4 {height: 22px; margin:3px 0; overflow: hidden; font-size: 16px; line-height: 22px; word-break: break-all; word-wrap: break-word;}
.tuan-list .tuan-pro-top p {height: 22px; overflow: hidden;  font-size: 14px; line-height: 22px; color: #999;}
.tuan-list .tuan-pro-top .price { font-size: 14px; color: #f33; font-family: 'Verdana'; line-height: 48px;}
.tuan-list .tuan-pro-top .price em { font-size: 20px; }
.tuan-list .tuan-pro-top .time { color: #999; }
.tuan-list .tuan-pro-top .time em { color: #333; }
.tuan-list .tuan-pro-top .time .red-color { color: #f33; }
.tuan-list .tuan-pro-top .tuan-pro-pic { position: absolute; top:15px; right:15px; width:120px; height: 120px; }
.tuan-list .tuan-pro-pic img {vertical-align: middle; width: 100%; height: 100%;}

.tuan-list .tuan-pro-intro { position: relative; top:0; height: 117px; padding:18px 15px 15px 150px; background:rgba(51,51,51,.89); filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=#e3333333,endColorstr=#e3333333); -webkit-transition: all 300ms; transition: all 300ms;}
:root .tuan-list .tuan-pro-intro { filter:none;}
.tuan-list .tuan-pro-intro h4 { height: 28px; overflow: hidden; font-size: 16px; color: #fff; line-height: 28px; word-break: break-all; word-wrap: break-word;}
.tuan-list .tuan-pro-intro .price { font-size: 14px; line-height: 24px; color: #fff; }
.tuan-list .tuan-pro-intro .red-color { color: #f33; }
.tuan-list .tuan-pro-intro .go-btn { display: block; width:72px; height: 28px; margin:9px 0 0; border-radius: 2px; background: #f33; color: #fff; font-size: 14px; line-height: 28px; text-align: center; }
.tuan-list .tuan-pro-intro .go-btn:hover { color: #fff; text-decoration: none; }
.tuan-list .tuan-pro-intro .tuan-pro-picside { position: absolute; top:20px; left: 0; width:134px;  text-align: center;}
.tuan-list .tuan-pro-intro .tuan-pro-picside .tuan-pro-pic { width:80px; height: 80px; margin:0 auto; overflow: hidden; border-radius: 40px;}
.tuan-list .tuan-pro-intro .tuan-pro-picside p { font-size: 12px; line-height: 36px; color: #fff; }
.tuan-list .tuan-pro-intro .tuan-pro-picside .line { padding:0 6px; *padding:0 3px;}
.tuan-list .tuan-pro-intro .tuan-pro-picside a { color: #fff; }
.tuan-list .tuan-pro-intro .tuan-pro-picside a:hover { color: #fff;}
.tuan-list li:hover .tuan-pro-intro { top:-150px; }

.tuan-slide .bx-wrapper { position: relative; zoom:1; }
.tuan-slide .bx-pager { width:1200px; height:8px; padding:15px 0 0; margin:0 auto; overflow:hidden; font:0/0 arial; text-align:center; text-indent:1px}
.tuan-slide .bx-pager-item, .tuan-slide .bx-pager-item a {display:inline-block; width:30px; height:8px; vertical-align:top; font:0/0 arial; overflow:hidden}
.tuan-slide .bx-pager-item {margin:0 2px; text-indent:0; display: inline}
.tuan-slide .bx-pager-item a { background-color:#cbcbcb}
.tuan-slide .bx-pager-item .active {background-color:#eb3638}
.tuan-slide .bx-prev,
.tuan-slide .bx-next { position: absolute; top:51px; width:35px; height: 50px; cursor: pointer;}
.tuan-slide .bx-prev { left: -42px; padding-right:6px; background-position: 8px 8px;}
.tuan-slide .bx-next { right: -42px; padding-left:6px; background-position: -26px 8px;}
.tuan-slide .bx-prev:hover { background-position: 8px -42px;}
.tuan-slide .bx-next:hover { background-position: -26px -42px;}

/* 苹果活动 add by jialp at 20170904 start */
.apple-active { position: fixed; top:0; left: 0; z-index: 1801; width:100%; height: 100%;background:rgba(0,0,0,0.8); filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=#cc000000,endColorstr=#cc000000); }
.apple-active-inner { position: absolute; top:50%; left: 50%; width:586px; height: 622px; margin:-311px 0 0 -293px;  text-align: center;}
.apple-active-close { position: absolute; top:0; right: 0; width:45px; height: 45px; background: url(http://icon.zol-img.com.cn/newshop/shop/index/apple-active-colse.png) no-repeat; cursor: pointer; }
.apple-active-inner a { display: block; color: #fff; }
.apple-active-inner a > * { cursor: pointer; }
.apple-active-inner a:hover { color: #fff; text-decoration: none; }
.apple-active-pic { display: block; margin:0 auto; }
.apple-active-title { padding:14px 0 0; font-size: 48px; line-height:70px; color: #fff; }
.apple-active-descrip span { display: inline-block; height: 42px; padding:0 0 0 8px; line-height: 42px; border:1px solid #d6d5d5; font-size: 24px; color: #fff; }
.apple-active-descrip span em { display: inline-block; height: 42px; margin:0 0 0 8px; padding:0 15px; vertical-align: top; background: #d6d5d5; color: #070707; *vertical-align: middle;}
.apple-active-buybtn { width:182px; height: 50px; margin:15px auto 0; background:url(http://icon.zol-img.com.cn/newshop/shop/index/apple-buy-btn.png) no-repeat; border-radius: 32px; font-size: 26px; line-height: 50px; }
.apple-active-price { width:396px; margin:0 auto; padding:13px 0 0; }
.apple-active-price li { float: left; width:172px; padding:0 0 0 25px; font-size: 21px; color: #9c9c9c; line-height: 26px; text-align: left; }
.apple-active-price .line { height: 1px; width:106px; margin:5px 0 3px; background: #959595; overflow:hidden; }
.apple-active-price .first { width: 139px; padding-left: 58px; }
.apple-active-price em { color: #e1189c; }
/* 苹果活动 add by jialp at 20170904 end */

/* 双十一活动包版 */
.top-activity-banner{ padding: 10px 0 0; background: #fff;}
.top-activity-banner img{ display: block; margin: 0 auto; vertical-align: middle;}
.header .logo a{ background: url(http://icon.zol-img.com.cn/newshop/shop/index/130_60_logo.gif) no-repeat;}

.foot-activity-btn{ position: fixed; bottom: 15px; left: 0; width: 318px; height: 194px; background: url(http://icon.zol-img.com.cn/newshop/shop/index/small_bg.png) no-repeat; cursor: pointer; z-index: 102;}

.foot-activity-layer{ position: fixed; bottom: -245px; left: 50%; margin: 0 0 0 -960px; width: 1920px; height: 245px; -webkit-transition: bottom .3s ease-in-out; -moz-transition:bottom.3s ease-in-out; -o-transition:bottom .3s ease-in-out; transition:bottom .3s ease-in-out; z-index: 102;}
.foot-activity-layer .layer-bg{ position: absolute; top: 0; left: 0; width: 100%; height: 245px; background: url(http://icon.zol-img.com.cn/newshop/shop/index/big_bg1.png) no-repeat center center;}
.foot-activity-layer .wrapper{ position: relative; zoom: 1; height: 22px; z-index: 6}
.foot-activity-layer .close{ position: absolute; top: 42px; right: -77px; width: 34px; height: 34px; background: url(http://icon.zol-img.com.cn/newshop/shop/index/close.png) no-repeat; cursor: pointer;}

.foot-activity-show{ bottom: 0; }